{% extends 'base.html' %}
{% block title %}{{course_name}}{% endblock %}
{% block content %}
<div class="container flex justify-center mt-10 mx-auto">
    <p class="text-3xl text-gray-300 font-semibold">Professors for {{course_name}}</p>
</div>
<div style="color: #d6d6d6;" class="container flex mt-10 mx-auto">
    <div class="w-4/5 md:3/5 mx-auto p-2">
        <p>Description</p>
        {% for key, value in data.items %}
            <div style="background-color: #333533;" class="mt-1 p-1"><strong>{{key}}:</strong> {{value}}</div>
        {% endfor %}
    </div>
</div>
<div class="container mt-10 mx-auto">
    {% for prof in profs %}
        <a href="prof/{{prof.name}}">
            <div style="background-color: #333533;" class="justify-center flex w-4/5 md:3/5 mx-auto h-16 md:h-12 items-center mt-2 rounded-sm">
                <div style="color: #d6d6d6;">
                    
                        <p>{{ prof.name }}</p>
                    
                </div>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock %}