{% extends 'base.html' %}
{% block title %}{{course_name}}{% endblock %}
{% block content %}
<div class="container flex justify-center mt-10">
    <p class="text-3xl text-gray-300 font-semibold">Professors for {{course_name}}</p>
</div>
<div class="container mt-10">
    {% for prof in profs %}
        <a href="prof/{{prof.name}}">
            <div class="bg-neutral-700 justify-center flex w-3/5 mx-auto h-12 items-center mt-1 rounded-lg">
                <div class="text-gray-200">
                    
                        <p>{{ prof.name }}</p>
                    
                </div>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock %}