{% extends 'base.html' %}
{% block title %}{{course_name}}{% endblock %}
{% block content %}
<div class="container flex justify-center mt-10 mx-auto">
    <p class="text-3xl text-gray-300 font-semibold">Professors for {{course_name}}</p>
</div>
<div style="color: #d6d6d6;" class="container flex mt-10 mx-auto">
    <div class="w-4/5 md:3/5 mx-auto p-2">
        <p>Description</p>
        <div style="background-color: #333533;" class="mt-1 p-1 flex flex-row">
            <div class="w-1/3 lg:w-1/4"><strong>Course title:</strong> </div>
            <div class="w-2/3 lg:w-3/4">{{data.title}}</div>
        </div>
        <div style="background-color: #333533;" class="mt-1 p-1 flex flex-row">
            <div class="w-1/3 lg:w-1/4"><strong>Credits:</strong> </div>
            <div class="w-2/3 lg:w-3/4">{{data.ects}}</div>
        </div>
        <div style="background-color: #333533;" class="mt-1 p-1 flex flex-row">
            <div class="w-1/3 lg:w-1/4"><strong>School:</strong> </div>
            <div class="w-2/3 lg:w-3/4">{{data.school}}</div>
        </div>
        <div style="background-color: #333533;" class="mt-1 p-1 flex flex-row">
            <div class="w-1/3 lg:w-1/4"><strong>Department:</strong> </div>
            <div class="w-2/3 lg:w-3/4">{{data.department}}</div>
        </div>
        <div style="background-color: #333533;" class="mt-1 p-1 flex flex-row">
            <div class="w-1/3 lg:w-1/4"><strong>Short Description:</strong> </div>
            <div class="w-2/3 lg:w-3/4">{{data.description}}</div>
        </div>
        <div style="background-color: #333533;" class="mt-1 p-1 flex flex-row">
            <div class="w-1/3 lg:w-1/4"><strong>Pre-requisites:</strong> </div>
            <div class="w-2/3 lg:w-3/4">{{data.prereq}}</div>
        </div>
        <div style="background-color: #333533;" class="mt-1 p-1 flex flex-row">
            <div class="w-1/3 lg:w-1/4"><strong>Co-requisites:</strong> </div>
            <div class="w-2/3 lg:w-3/4">{{data.coreq}}</div>
        </div>
        <div style="background-color: #333533;" class="mt-1 p-1 flex flex-row">
            <div class="w-1/3 lg:w-1/4"><strong>Anti-requisites:</strong> </div>
            <div class="w-2/3 lg:w-3/4">{{data.antireq}}</div>
        </div>
    </div>
</div>
<div class="container mt-10 mx-auto">
    {% for prof in profs %}
        <a href="prof/{{prof.name}}">
            <div style="background-color: #333533;" class="justify-center flex w-4/5 md:3/5 mx-auto h-16 md:h-12 items-center mt-2 rounded-sm">
                <div style="color: #d6d6d6;">
                    
                        <p>{{ prof.name }}</p>
                    
                </div>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock %}