{% extends 'base.html' %}
{% block title %}{{profess.name}}{% endblock %}
{% block content %}
    <div style="color: #d6d6d6;" class="container mx-auto">
        <div style="background-color: #333533;" class="w-11/12 md:w-4/5 lg:w-3/5 xl:w-3/6 2xl:w-2/5 mx-auto rounded-md mt-10">
            <div style="background-color: #282828;" class="w-full rounded-t-md flex justify-center py-1">
                <p class="text-xl">{{ profess.name }}</p>
            </div>
            <div class="divide-y divide-gray-700">
                <div class="flex flex-row space-x-2 my-2">
                    <div class="w-1/3 lg:w-1/5 ml-2">
                        Overall: 
                    </div>
                    <div class="">
                        {{overall}}
                    </div>
                </div>
                <div class="flex flex-row space-x-2 my-2">
                    <div class="w-1/3 lg:w-1/5 ml-2">
                        Easy: 
                    </div>
                    <div class="">
                        {{easy}}
                    </div>
                </div>
                <div class="flex flex-row space-x-2 my-2">
                    <div class="w-1/3 lg:w-1/5 ml-2">
                        Knowledge:
                    </div>
                    <div class="">
                        {{knowledge}}
                    </div>
                </div>
                <div class="flex flex-row space-x-2 my-2 pb-2">
                    <div class="w-1/3 lg:w-1/5 ml-2">
                        Fun: 
                    </div>
                    <div class="">
                        {{fun}}
                    </div>
                </div>
                <div class="flex flex-row space-x-2 my-2 pb-2">
                    <div class="w-1/3 lg:w-1/5 ml-2">
                        Courses:
                    </div>
                    <div class="">
                        {% for course in courses%}
                        <a href="/main/{{course.name}}" style="color: #ffd100;">{{course.name}}</a> / 
                        {% endfor %}
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div style="color: #d6d6d6;" class="container mx-auto">
        <div style="background-color: #333533;" class="w-11/12 md:w-4/5 lg:w-3/5 xl:w-3/6 2xl:w-2/5 mx-auto rounded-md mt-5 mx-auto">
            <div class="flex justify-center">
                <p class="text-2xl p-1">Comments</p>
            </div>
            <form class="shadow-md rounded px-8 pt-6 pb-8 mb-4" method="post" id="commentSubmit">
                {% csrf_token %}
                <input hidden type="text" name="prof_id" value="{{profess.id}}">
                <div class="mb-4">
                  <label class="block text-sm mb-2" for="username">
                    Write your review
                  </label>
                  <textarea required name="comment" rows="6" style="background-color: #d6d6d6; color: #333533;" class="block p-2 w-full text-sm
                rounded-sm" 
                    id="username" type="text" placeholder="Comment"></textarea>
                </div>
                <div class="mb-4 flex flex-row space-x-2">
                    <div class="w-1/5">Easy</div>
                    <input class="w-3/5" type="range" id="easy" name="easy" min="1" max="10" oninput="updateRange(2)">
                    <div id="easy_text" class="w-1/5 text-center">6</div>
                </div>
                <div class="mb-4 flex flex-row space-x-2">
                    <div class="w-1/5">Knowledge</div>
                    <input class="w-3/5" type="range" id="knowledge" name="knowledge" min="1" max="10" oninput="updateRange(3)">
                    <div id="knowledge_text" class="w-1/5 text-center">6</div>
                </div>
                <div class="mb-4 flex flex-row space-x-2">
                    <div class="w-1/5">Fun</div>
                    <input class="w-3/5" type="range" id="fun" name="fun" min="1" max="10" oninput="updateRange(4)">
                    <div id="fun_text" class="w-1/5 text-center">6</div>
                </div>
                <div class="mb-4 flex flex-row space-x-2 justify-center">
                    <button style="background-color: #ffd100; color: white;" type="submit" class="btn w-3/5 font-bold py-2 px-4 rounded-sm">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div class="container mt-1 mx-auto">
        {% for comm in comments %}
            <div style="background-color: #333533;" class="w-11/12 md:w-4/5 lg:w-3/5 xl:w-3/6 2xl:w-2/5 mx-auto mt-1 rounded-lg my-2 divide-y divide-black">
                <div style="color: #d6d6d6;" class="w-full flex items-center divide-x divide-black">
                    <div class="ml-2 w-1/3 p-2 flex justify-center">
                        Easy: {{comm.easy}}
                    </div>
                    <div class="ml-2 w-1/3 p-2 flex justify-center">
                        Knowledge: {{comm.knowledge}}
                    </div>
                    <div class="ml-2 w-1/3 p-2 flex justify-center">
                        Fun: {{comm.fun}}
                    </div>
                </div>
                <div style="color: #d6d6d6;" class="w-full flex items-center p-2">
                    <div class="ml-2 w-11/12">
                        <p>{{ comm.text }}</p>  
                    </div>
                    <div class="w-1/12 flex flex-col justify-center items-center">
                        <form action="" method="post">
                            {% csrf_token %}
                            <input type="text" name="comm_id" id="" value="{{comm.id}}" hidden>
                            <button type="submit" value="plus" name="rating_change" class="text-xl">+</button>
                        </form>
                        <p>{{ comm.comment_rating }}</p>
                        <form action="" method="post">
                            {% csrf_token %}
                            <input type="text" name="comm_id" id="" value="{{comm.id}}" hidden>
                            <button type="submit" value="minus" name="rating_change" class="text-xl">-</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <script>
        function onSubmit(token) {
            document.getElementById("commentSubmit").submit();
        }


        easy = document.getElementById("easy");
        easy_text = document.getElementById("easy_text")

        knowledge = document.getElementById("knowledge");
        knowledge_text = document.getElementById("knowledge_text")

        fun = document.getElementById("fun");
        fun_text = document.getElementById("fun_text")
        function updateRange (num){
            if (num === 1){
                console.log("Do nothing");
            }else if (num === 2){
                easy_text.innerHTML = easy.value;
            }else if (num === 3){
                knowledge_text.innerHTML = knowledge.value;
            }else if (num === 4){
                fun_text.innerHTML = fun.value;
            }
        }
    </script>
{% endblock %}