<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %}</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body style="background-color: #202020; margin-bottom: 50px;">
<a href="https://t.me/alekgreen" style="background-color: #ffd100;" class="font-semibold w-full flex justify-center h-12 items-center text-black">
    Contact Me (Telegram)
</a>
    {% block content %}

    {% endblock %}
</body>
</html>